$main-color: #2086e8;
$primary-color: #4bbc37;
$text-color: #7e7c7c;

body {
  margin: 0; /*отступы всего макета убирает в браузерах*/
}

@mixin flexAlign($hor: center, $vert: center) {
  display: flex;
  align-items: $vert;
  justify-content: $hor;
}

.header {
  width: 100%; /*ширина элемента*/
  height: 68px; /*высота элемента*/
  padding: 0 150px; /*устанавливает значение полей вокруг содержимого элемента*/
  box-sizing: border-box; /*алгоритм расчета ширины и высоты элемента*/
  @include flexAlign(space-between);

  @media screen and (max-width: 980px) {
    /*адаптивность*/
    padding: 0 15px;
    flex-direction: row-reverse;
  }
  /* display: flex;/*определяет видимость показа элемента в документе
  align-items: center;/
  justify-content: space-between;*/

  &__links {
    @include flexAlign(flex-start);

    @media screen and (max-width: 640px) {
      display: none;
    }

    &-iten {
      // можно поставить вместо родителя файла &
      margin-right: 12px; /*задает отступ элемента от родителя*/
      text-decoration: none;
      color: $text-color;
      padding: 10px 14px;
      border-radius: 4px; /* скругление углов рамки хэлемента*/
      border: 1px solid transparent; /*толщина, стиль и цвет рамки элемента; */
      box-sizing: border-box; /*алгоритм расчета ширины и высоты*/
      transition: 0.4s; /*эфект перехода между состояниями элементаЖ воемя перехода*/
      cursor: pointer;

      &:hover {
        border: 1px solid $main-color;
        background: linear-gradient(to top, $main-color, #37b2f8); /*background -фоновый цвет*/
        color: white; /*цвета*/
      }
    }
  }

  #menu:checked + .header__button> .header__button-line {/*, так же за отображением элемента следит за состоянием чек-бокс; + -обращение к следующему элементу вниз */
     background-color: transparent;

  }

  #menu:checked + .header__button> .header__button-line:after {/*, так же за отображением элемента следит за состоянием чек-бокс; + -обращение к следующему элементу вниз */
    transform: rotate(-45deg);
    top: 0;

 }

 #menu:checked + .header__button> .header__button-line:before {/*, так же за отображением элемента следит за состоянием чек-бокс; + -обращение к следующему элементу вниз */
  transform: rotate(45deg);
  bottom: 0;

}


.dropdown {
  position: fixed;/*мерет всегда относительно окна браузера*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom right, lightgreen, yellow, );
  z-index: 100;/*влияет нв видимость относительно других элементов*/
  transition: .5s ease-in-out;/*ускорение анимации(замедление)*/
  opacity: 0;/*прозрачность элемента*/
  transform: scale();

}

#menu:checked ~.dropdown{
  opacity: 1;
  transform: scale(1);/*маштабность*/
}

  &__button {
    cursor: pointer;
    height: 45px;
    width: 45px;
    border: 2px solid $text-color;
    box-sizing: border-box;
    border-radius: 5px;
    @include flexAlign; /*миксин*/
    display: none;
    position: relative;
    z-index: 101;

    @media screen and(max-width: 640px) {
      display: flex;
    }

    &-line {
      width: 30px;
      height: 2px;
      background: $text-color;
      position: relative; /*позиционирование элементов  */
      transition: 0.3s;

      &:after {
        content: "";
        width: 30px;
        height: 2px;
        background: $text-color;
        position: absolute; /*как бы новый слой для элемента*/
        left: 0; /*ось х*/
        top: 7px; /*ось у*/
        transition: 0.3s;
      }

      &:before {
        content: "";
        width: 30px;
        height: 2px;
        background: $text-color;
        position: absolute; /*как бы новый слой для элемента*/
        left: 0; /*ось х*/
        bottom: 7px;
        transition: 0.3s;
      }
    }
  }
}

.banner {
  width: 100%;
  height: 530px;
  background-image: url("../imaig/fon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /*растягивает на блок фоновое изоброжение сохраняя пропорции*/
  @include flexAlign;
  flex-direction: column;
  color: white;
  position: relative; /*нахождение относительно баннера*/

  &__title {
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 16px;
    text-align: center;

    &_big {
      font-weight: bold;
      font-size: 52px;
    }

    @media screen and( max-width: 640px) {
      font-size: 36px; /*размер текста в элементе*/
    }
  }
  &__button {
    outline: none; /*отключить обводку*/
    width: 270px;
    height: 57px;
    box-sizing: border-box;
    border: none; /*убрать обводку по умолчанию */
    border-top: 1px solid #6feb55;
    border-radius: 3px;
    background: linear-gradient(to top, $primary-color, #6dd258);
    color: white;
    font-weight: bold; /*жирность текста*/
    font-size: 34px;
    text-shadow: 1px 1px 1px rgba(black, 0.4); /*тень текста*/
    box-shadow: 0 0 0 6px rgba(#000000, 0.1); /*тень рамки*/
    margin-top: 30px; /*отступ сверху*/
  }
}

.slider {
  width: 480px;
  height: 245px;
  background-color: white;
  box-sizing: border-box;
  border-bottom: 7px solid $primary-color;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(#000000, 0.4);
  position: absolute; /**/
  left: calc(50% - 240px); /*calc- высчитывает позицию элемента*/
  bottom: -150px;
  color: #868686;
  padding: 24px 28px 21px 28px;
  box-sizing: border-box;
  @include flexAlign();
  flex-direction: column;

  @media screen and(max-width: 590px) {
    width: calc(100% - 30px);
    left: 15px;
  }
  @media screen and(max-width: 496px) {
    /*адаптивность*/
    height: auto;
    bottom: -250px;
  }
  @media screen and(max-width: 418px) {
    bottom: -270px;
  }
  @media screen and(max-width: 358px) {
    bottom: 360px;
  }

  &__title {
    font-size: 22px;
    margin-bottom: 26px;
  }

  &__container {
    width: 100%;
    height: 100%;
    @include flexAlign(space-between, flex-start);
    flex-wrap: wrap; /*перенос элемента*/

    &-item {
      flex-direction: column;
      @include flexAlign(space-between, flex-start);
      height: 66px;
      font-size: 14px;
      width: 80px;

      .slider-image {
        width: 100%;
        height: 45px;
      }
    }
  }
}

.block2 {
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // color: #ececec;
  flex-direction: column; /*размещает элементы в колонку*/
  @include flexAlign();
  padding-top: 210px; /*отступ снизу*/
  background-color: #ececec;
  padding-bottom: 75px;

  &__title {
    font-size: 26px;
    margin-bottom: 16px;
    text-align: center;

    &_small {
      font-size: 22px;
    }
  }
  .servises{
    width: 760px;
    @include flexAlign( space-between);
  }

  .kartinki {
    border-radius: 50%;
    @include flexAlign();
    margin-bottom: 19px;
    width: 133px;
    height: 133px;
    background: white;
  }

  .kart {
   flex-direction: column;
   @include flexAlign(space-between );
   

    &__text {
      cursor: pointer;
      box-sizing: border-box;
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
  }
}

.footer{
  width: 100%;
  height: 32px;
  color: white;
  background-color: #414141;
  @include flexAlign( );
  font-size: 13px;

}
